.main {
  margin-left: 240px;
  margin-top: 30px;
  margin-right: 30px;
}

// Main part
.summary{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  &__left{
    width: 80%;
  }
  &__right{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.graph{
  border-radius: 20px;
  display: grid;
  grid-gap: 10% 10%;
  grid-template-columns: repeat(3, minmax(100px, 33%));
  overflow: hidden;
  margin-top: 60px;
}

// Responsive 

@media screen and (min-width: 1000px) and (max-width: 1250px){
  .main{
    margin-top: 20px;
    margin-left: 150px ;
  }
  // Main part
.summary{
  padding-top: 30px;
  &__left{
    width: 70%;
  }
  &__right{
    width: 30%;
  }
}
  .graph{
    grid-gap: 10% 5%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1500px){
  .main{
    margin-left: 180px ;
  }
  // Main part
.summary{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  &__left{
    width: 70%;
  }
  &__right{
    width: 30%;
  }
}
  .graph{
    grid-gap: 10% 5%;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1900px){
  .main{
    margin-left: 200px ;
  }
  // Main part
.summary{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  &__left{
    width: 75%;
  }
  &__right{
    width: 25%;
  }
}
  .graph{
    grid-gap: 10% 5%;
    margin-top: 0px;
  }
}
